/* Header */

header {
    height: 7vh;
}

#logo {
    width: 5vh;
}

/* diaporama */

#diaporama {
    background-image: linear-gradient(to left top, #170cef, #0031f1, #0046f1, #0057ef, #1265eb);
}

.carousel-inner {
    height: 43vh;
    display: flex;
    justify-content: flex-start;
}

/* Menu buttons */

.menuButton {
    color: white;
    padding-top: 7vh;
    width: 25vh;
    height: 25vh;
    background-image: linear-gradient(to left top, #170cef, #0031f1, #0046f1, #0057ef, #1265eb);
}

/* Partie catégories */

#cat1 {
    background-image: linear-gradient(to left top, #170cef, #0031f1, #0046f1, #0057ef, #1265eb);
}

#cat2 {
    background-image: linear-gradient(to left top, #961515, #ab1515, #c01415, #d51314, #eb1212);
}

#cat3 {
    background-image: linear-gradient(to left top, #781ade, #7d27e2, #8331e6, #883ae9, #8d43ed);
}

#cat4 {
    background-image: linear-gradient(to left top, #50534f, #616560, #727771, #848a83, #969d95);
}

#cat5 {
    background-image: linear-gradient(to left top, #21b8c6, #26c7d4, #2cd7e3, #32e6f1, #39f6ff);
}

#cat6 {
    background-image: linear-gradient(to left top, #de9a1a, #e4a51c, #eab11f, #efbc23, #f4c827);
}

#cat7 {
    background-image: linear-gradient(to left top, #2f810b, #31950b, #31aa0b, #2fbf0d, #29d50f);
}

#cat8 {
    background-image: linear-gradient(to left top, #8d948b, #9ca39a, #abb2a9, #bac1b8, #c9d1c8);
}

.carreCat {
    height: 22vh;
    width: 25vh;
    color: white;
    padding-top: 30px;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* Fin partie categories */

#filterButton {
    margin-right: 1vh;
}

/* Style du formulaire */

#cadrePhoto {
    background-color: #E8E8E8;
    /* border: solid 1px black; */
    padding: 10px;
}

.rond {
    width: 130px;
    height: 130px;
    background: white;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -o-border-radius: 130px;
    border-radius: 130px;
    margin: 30px;
    -moz-box-shadow: 4px 4px 5px 0px #656565;
    -webkit-box-shadow: 4px 4px 5px 0px #656565;
    -o-box-shadow: 4px 4px 5px 0px #656565;
    box-shadow: 4px 4px 5px 0px #656565;
    /* filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5); */
    /* align-items: center; */
}

.rond:hover {
    margin-bottom: 1px;
    -moz-box-shadow: 1px 1px 1px 0px #656565;
    -webkit-box-shadow: 1px 1px 1px 0px #656565;
    -o-box-shadow: 1px 1px 1px 0px #656565;
    box-shadow: 1px 1px 1px 0px #656565;
}

textarea {
    resize: none;
}