/* Header */

header{
    height: 5vh;
}

/* diaporama */

#diaporama{
    background-color: lightsteelblue;
}

.carousel-inner{
    height: 45vh;
}

/* Menu buttons */

.menuButton{
    padding-top: 10vh;
    width: 25vh;
    height: 25vh;
}

#menu1{
    background-color: yellow;
}

#menu2{
    background-color: pink;
}

#menu3{
    background-color: blue;    
}

#menu4{
    background-color: red;    
}

a{
    color:black;
}